<% provide(:title, 'Services') %>
<!DOCTYPE html>
<html>
<section class="success" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Services Offered</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 portfolio-item">
        <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <%= link_to image_tag("cabin.png", alt: "meandmypup", class: "img-responsive") %>
        </a>
      </div>

      <div class="col-sm-4 portfolio-item">
        <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <%= link_to image_tag("cabin.png", alt: "meandmypup", class: "img-responsive") %>
        </a>
      </div>

      <div class="col-sm-4 portfolio-item">
        <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <%= link_to image_tag("cabin.png", alt: "meandmypup", class: "img-responsive") %>
        </a>
      </div>
      </div>

    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl">
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <div class="modal-body">
                <h2>Project Title</h2>
                <hr class="star-primary">
                <%= link_to image_tag("cabin.png", alt: "meandmypup", class: "img-responsive img-centered") %>
                <h3>Walking:</h3>
                <p>Each walk will be to a walk to your closest neighborhood parks in the area. The size of the walking group will never
                  be more than 3-4 dogs at a time. All sizes are welcome. Weekends and evenings are great for me!</p>
                <br />
                <strong><p>30-minute walk: $10</p><p>60-minute walk: $15</p></strong>
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl">
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <div class="modal-body">
                <h2>Project Title</h2>
                <hr class="star-primary">
                <%= link_to image_tag("cabin.png", alt: "meandmypup", class: "img-responsive img-centered") %>
                <h3>Washing</h3>
                <p>If your pup needs a wash,
                  dry, and brush after a walk we have you covered. We use an organic hypoallergenic shampoo, gently blow dry his fur to
                  to ensure he's warm and happy and give your pup a nice brush down to end up with fresh, clean and a wonderfully
                  smelling dog. All baths will last 30-60 minutes.</p>
                <strong>
                  <p>1-15 lbs: $20</p>
                  <p>16-30 lbs: $30</p>
                  <p>31-50 lbs: $40</p>
                  <p>50 + lbs: $50</p>
                </strong>
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl">
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <div class="modal-body">
                <h2>Project Title</h2>
                <hr class="star-primary">
                <%= link_to image_tag("cabin.png", alt: "meandmypup", class: "img-responsive img-centered") %>
                <h3>Watching</h3>
                <p>I am available if you are going out of town and need a sitter to come by and spend time with your dog multiple times
                  a day, or also available for overnight stay as well.</p>
                <br />
                <strong>
                  <p>Day price (includes 2 30-minute walks plus 30-minutes play time): $35</p>
                  <p>Overnight price (include 2 30-minute walks plus hours of play and supervisions): $55</p>
                </strong>
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

</div>
    </section>
</html>