<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Bootstrap core CSS -->
  <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
  <link href="../stylesheets/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="../stylesheets/freelancer.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="../font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
  <script src="../../assets/javascripts/ie-emulation-modes-warning.js"></script>
</head>
<body id="page-top" class="index">
<%= render 'layouts/header' %>
  <%= yield %>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- jQuery Version 1.11.0 -->
<script src="js/jquery-1.11.0.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="../javascripts/classie.js"></script>
<script src="../javascripts/cbpAnimatedHeader.js"></script>

<!-- Contact Form JavaScript -->
<script src="../javascripts/jqBootstrapValidation.js"></script>
<script src="../javascripts/contact_me.js"></script>

<!-- Custom Theme JavaScript -->
<script src="../javascripts/freelancer.js"></script>

</body>
</html>
